body {
  text-align: center;
  font-family: sans-serif;
  cursor: default;
}
.text-cursor {
  cursor: text;
}
a {
  color: #0000EE;
}
a:link {
  color: #0000EE;
}
a:visited {
  color: #0000EE;
}
a:active {
  color: #FF0000;
}
body.dark a {
  color: #FFFF11;
}
body.dark a:link {
  color: #FFFF11;
}
body.dark a:visited {
  color: #FFFF11;
}
body.dark a:active {
  color: #00FFFF;
}
.dark {
  color: #FFFFFF;
  background-color: #333333;
}
.link-image {
  border-radius: 15px;
  box-shadow: 0 0 0 2px black;
  background-color: #FFFFFF;
  margin: 0.7em;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  width: 100px;
  height: 100px;
}
.link-image:hover {
  box-shadow: 0 0 0 5px #000000;
}
body.dark .link-image {
  box-shadow: 0 0 0 2px #808080;
}
body.dark .link-image:hover {
  box-shadow: 0 0 0 5px #808080;
}
#message {
  min-height: 200px;
}
.search-container {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}
.search-box {
  flex-grow: 1;
  height: 40px;
}
.search-button {
  height: 40px;
}