body {
  text-align: center;
  font-family: sans-serif;
  cursor: default;
}
.text-cursor {
  cursor: text;
}
a {
  color: #0000EE;
}
a:link {
  color: #0000EE;
}
a:visited {
  color: #0000EE;
}
a:active {
  color: #FF0000;
}
.dark a {
  color: #FFFF11;
}
.dark a:link {
  color: #FFFF11;
}
.dark a:visited {
  color: #FFFF11;
}
.dark a:active {
  color: #00FFFF;
}
.dark input[type=button], .dark input[type=submit], .dark button {
  color: white;
  background-color: #565656;
  border: none;
  cursor: pointer;
}
input[type=button], input[type=submit], button {
  color: black;
  background-color: #cbcbcb;
  border: none;
  cursor: pointer;
}
.dark input[type=text], .dark input[type=search] {
  color: white;
  background-color: #454545;
  border: 1px solid #989898;
  cursor: text;
}
input[type=text], input[type=search] {
  color: black;
  background-color: #dcdcdc;
  border: 1px solid #898989;
  cursor: text;
}
.dark {
  color: #FFFFFF;
  background-color: #333333;
}
.link-image {
  border-radius: 15px;
  box-shadow: 0 0 0 2px black;
  background-color: #FFFFFF;
  margin: 0.7em;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  width: 100px;
  height: 100px;
}
.link-image:hover {
  box-shadow: 0 0 0 5px #000000;
}
.dark .link-image {
  box-shadow: 0 0 0 2px #898989;
  background-color: #333333;
}
.dark .link-image:hover {
  box-shadow: 0 0 0 5px #898989;
  background-color: #333333;
}
#message {
  min-height: 200px;
}
.search-container {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}
.search-box {
  flex-grow: 1;
  height: 40px;
}
.search-button {
  height: 40px;
}